*~
*.o
.depend
.deps
.tmp_versions
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
mkinstalldirs
Module.markers
Module.symvers
Module.symvers.old
modules.order
Modules.symvers
Rules
stamp-h1
tags
TAGS
ltmain.sh
missing
.libs/
*.lo
*.loT
*.la
.*.ko.cmd
.*.o.cmd
.*.o.d
*.ko
*.mod.c
*.mod.o
.#*
#*#
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
nohup.out
r
